@model IndexViewModel
@inject UserManager<CodeCampUser> usrMgr
@{
  ViewData["Title"] = "Manage your account";
  var user = await usrMgr.FindByNameAsync(User.Identity.Name);
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="col-md-6 col-md-offset-3">
  <h4>Change your account settings</h4>
  <hr />
  <dl class="dl-horizontal  text-left">
    <dt>Name:</dt>
    <dd>@user.Name</dd>
    <dt>Email:</dt>
    <dd>@user.Email</dd>
    <dt>Password:</dt>
    <dd>
      @if (Model.HasPassword)
      {
        <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
      }
      else
      {
        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
      }
    </dd>
  </dl>
</div>
