<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div [style.visibility]="isBusy ? 'visible' : 'hidden'"><i class="fa fa-spin fa-spinner"></i> Please wait...</div>
    <div>
      <select [(ngModel)]="currentMoniker" name="currentMoniker" (ngModelChange)="onMonikerChange($event)" class="form-control-static">
        <option *ngFor="let e of events" value="{{ e.moniker }}">{{ e.name }}</option>
      </select>
    </div>
    <hr />
    <div class="row" [hidden]="!currentMoniker">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <td>Name</td>
            <td>Paid?</td>
            <td></td>
          </tr>
        </thead>
        <tr *ngFor="let sponsor of sponsors">
          <td>{{sponsor.name}}</td>
          <td>{{sponsor.paid ? "Yes" : "No" }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-primary" (click)="onTogglePaid(sponsor)">Toggle Paid</button>
              <button class="btn btn-sm btn-primary" (click)="onEdit(sponsor)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(sponsor)">Delete</button>
            </div>
          </td>
        </tr>
      </table>
      <div class="row">
        <button class="btn btn-success" (click)="onNew()">New Sponsor</button>
      </div>
    </div>
    <div class="row text-left" [hidden]="!isEditing">
      <div class="well">
        <form novalidate (ngSubmit)="onSave()" #theForm="ngForm">
          <div [style.visibility]="isBusy ? 'visible' : 'hidden'"><i class="fa fa-spin fa-spinner"></i> Please wait...</div>
          <div asp-validation-summary="All" class="text-danger"></div>
          <div class="text-danger">{{ error }}</div>
          <div class="form-group">
            <label class="text-danger">Sponsor Name *</label>
            <input [(ngModel)]="model.name" class="form-control" placeholder="Sponsor Name" name="name" #name="ngModel" required minlength="5" />
            <span class="text-danger" [hidden]="name.errors == null || !name.errors['required']">* Required</span>
            <span class="text-danger" [hidden]="name.errors == null || !name.errors['minlength']">* Too short</span>
          </div>
          <div class="form-group">
            <label class="text-danger">Link *</label>
            <input [(ngModel)]="model.link" class="form-control" placeholder="Sponsor Website Link" name="link" #link="ngModel" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" />
            <span class="text-danger" [hidden]="link.errors == null || !link.errors['required']">* Required</span>
            <span class="text-danger" [hidden]="link.errors == null || !link.errors['pattern']">* must be a valid url (e.g. start with http(s))</span>
          </div>
          <div class="form-group">
            <label class="text-danger">Sponsor Level *</label>
            <select [(ngModel)]="model.sponsorLevel" class="form-control" name="sponsorLevel" required #sponsorLevel="ngModel">
              <option>Silver</option>
              <option>Gold</option>
              <option>Platinum</option>
              <option>Swag</option>
              <option>Attendee Party</option>
              <option>Speaker Dinner</option>
              <option>Attendee Shirts</option>
              <option>Speaker Shirts</option>
            </select>
            <span class="text-danger" [hidden]="sponsorLevel.errors == null || !sponsorLevel.errors['required']">* Required</span>
          </div>
          <div class="form-group" id="imagePicker">
            <div><img src="{{ model.imageUrl ? model.imageUrl : '/img/sponsor-placeholder.jpg' }}" alt="" class="img-responsive img-thumbnail" [class.invalidHeadshot]="!validImage()"></div>
            <a (click)="filePicker.click();" class="btn btn-primary" href="#">Pick Logo</a>
            <input type="file" class="hidden" accept=".jpg; .jpeg; .png;" (change)="onImagePicked(filePicker)" #filePicker required />
            <div class="text-muted text-sm">.jpg and .png only. Will be resized to 300x88 pixels.</div>
            <div class="text-danger" [hidden]="validImage()">* Logo required. </div>
            <div class="text-danger">{{ imageError }}</div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg" value="Save" [disabled]="!theForm.form.valid || !validImage()" />
            <a href="/admin" class="btn btn-default btn-lg">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>