@page
@model Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.LoginModel

@{
  ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
  <div class="col-4 offset-4">
    <section>
      <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Input.Email"></label>
          <input asp-for="Input.Email" class="form-control" />
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Input.Password"></label>
          <input asp-for="Input.Password" class="form-control" />
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label asp-for="Input.RememberMe">
              <input asp-for="Input.RememberMe" />
              @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
          </div>
        </div>
        <div class="form-group">
          <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="form-group">
          <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
          </p>
          <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
          </p>
          <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
          </p>
        </div>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}