@model CoreCodeCamp.Models.Emails.AccountConfirmModel
@{
  Layout = "Emails/_Layout";
}

<p>
  To reset your password, please visit this link:
</p>
<ul><li><a href='@Html.Raw(Model.Callback)'>Reset Your Password</a></li></ul>
<p>If that link doesn't work, please copy and paste this address directly in your browser:</p>
<div>@Html.Raw(Model.Callback)</div>
<br />
<br />
<div>Thanks!</div>
<br />
<div>Atlanta Code Camp Planning Committee</div>
<div>codecamp@live.com</div>
<div>Developers Association of Georgia</div>


