@{
  Layout = "Emails/_Layout";
}


Atlanta Code Camp 2016 Session Reminder

Hello [first_name],

This is a final reminder from the Atlanta Code Camp 2016 Planning Committee for the following session to SharePoint Saturday Atlanta 2016:

	[session_title]

As a reminder, the  event is Saturday, October 15, 2016 and will once again be held at Kennesaw State University.   Complete details for the event can be found here:

Atlanta Code Camp 2016

PLEASE REGISTER @ https://spsatl2016.eventbrite.com/ by September 24, 2016 using the following speaker code.
	Speaker Code: atlcodecamp.2016-speaker

Speaker Dinner
If you plan on attending the and have not confirmed your attendance, please confirm your attendance at the speaker dinner here:  [link]
•	Speaker Dinner Friday, October 14th.
•	Location: ???
Have Questions?
We look forward to seeing you at this years event.  Let us know if you have any questions or concerns about topics by replying to this email.  Thank you again for your support and we look forward to seeing you at this year’s event!

<br />
<br />
<div>Thanks!</div>
<br />
<div>Atlanta Code Camp Planning Committee</div>
<div>codecamp@live.com</div>
<div>Developers Association of Georgia</div>?


