@model RegisterViewModel
@{
  ViewData["Title"] = "Join";
}

<div class="row">
  <h2>@ViewData["Title"].</h2>
  <div id="join-view" v-cloak>
    <div class="col-md-8 col-md-offset-2 left-align">
      <form asp-controller="Account" asp-action="Join" asp-route-returnurl="@ViewData["ReturnUrl"]" novalidate v-on:submit="onSubmit" method="post" class="form-horizontal">
        <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group" v-bind:class="{ 'has-error': errors.has('Name') }">
          <label asp-for="Name" class="col-md-3 control-label"></label>
          <div class="col-md-9">
            <input asp-for="Name" class="form-control col-md-11 inline" v-model="user.name" autofocus v-validate="'required|min:5'" />
            <div class="help-block" v-show="errors.has('Name')">{{ errors.first('Name') }}</div>
          </div>
        </div>
        <div class="form-group" v-bind:class="{ 'has-error': errors.has('Email') }">
          <label asp-for="Email" class="col-md-3 control-label"></label>
          <div class="col-md-9">
            <input asp-for="Email" type="text" class="form-control" v-model="user.email" v-validate="'required|email'" />
            <div class="help-block" v-show="errors.has('Email')">{{ errors.first('Email') }}</div>
          </div>
        </div>
        <div class="form-group" v-bind:class="{ 'has-error': errors.has('Password') }">
          <label asp-for="Password" class="col-md-3 control-label"></label>
          <div class="col-md-9">
            <input asp-for="Password" class="form-control" v-model="user.password" v-validate="'required|min:8|strongPassword'" ref="password" />
            <div class="help-block" v-show="errors.has('Password')">{{ errors.first('Password') }}</div>
          </div>
        </div>
        <div class="form-group" v-bind:class="{ 'has-error': errors.has('ConfirmPassword') }">
          <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
          <div class="col-md-9">
            <input asp-for="ConfirmPassword" class="form-control" v-model="user.confirmPassword" v-validate="'confirmed:password'" />
            <div class="help-block" v-show="errors.has('ConfirmPassword')">{{ errors.first('ConfirmPassword') }}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-10">
            <button type="submit" class="btn btn-success btn-lg" v-bind:disabled="errors.any() || isPristine">Join</button>
          </div>
        </div>
        <div class="form-group">
          <div class="text-danger col-md-offset-3 col-md-10" v-show="errorMessage.length > 0">{{ errorMessage }}</div>
        </div>
      </form>
    </div>

  </div>
</div>

@section Scripts {
  <script src="~/js/app/join.js"></script>
}
