@{
    ViewData["Title"] = "Locked out";
}

<div class="row">
  <header class="col-md-6 col-md-offset-3">
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
  </header>
</div>