@using System.Collections.Generic
@model LoginViewModel
@inject SignInManager<CodeCampUser> SignInManager

@{
  ViewData["Title"] = "Resend Confirmation Code";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
  <div class="col-md-8 col-md-offset-2 left-align">
    <section>
      <form asp-controller="Account" asp-action="ResendConfirmEmail" method="post" class="form-horizontal">
        <h4>Send an email to confirm your email address</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Email" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success btn-lg">Send</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
