@{
  ViewData["Title"] = "An unexpected Error Occurred";
}
<h1>@ViewData["Title"]</h1>
<p class="lead">Sorry, an unexpected error occurred. It's been logged and we'll try to fix it soon! Please click <a href="/">here</a> to return to the home page.</p>
