<h2>Sponsoring the Atlanta Code Camp</h2>
<h3>Sponsorship Levels </h3>
<p>
  There are four levels of sponsorships and four special opportunities that are available with the following benefits:
</p>
<table class="table table-bordered table-striped table-td-centered table-condensed sponsor-benefit-table">
  <thead>
    <tr>
      <th>Sponsor Benefit</th>
      <th class="centered success"><a href="#platinum">Platinum</a></th>
      <th class="centered success"><a href="#gold">Gold</a></th>
      <th class="centered success"><a href="#silver">Silver</a></th>
      <th class="centered success"><a href="#swag">Swag</a></th>
      <th class="centered info">
        <a href="#attendeeparty">
          Attendee<br />
          After Party
        </a>
      </th>
      <th class="centered info">
        <a href="#speakerdinner">
          Speaker<br />
          Dinner
        </a>
      </th>
      <th class="centered info">
        <a href="#attendeeshirt">
          Attendee<br />
          Shirts
        </a>
      </th>
      <th class="centered info">
        <a href="#speakershirt">
          Speaker<br />
          Shirts
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="#raffle">Raffle Item</a></th>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#logoweb">Logo on Website</a></th>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#logokeynote">Logo on Keynote Slide</a></th>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#bag">Attendee Bag Collateral</a></th>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&nbsp;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#logomaterials">Logo on the Event Materials</a></th>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#booth">Booth with Table</a></th>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#attendeelist">Attendee List (of Opt-In Attendees)</a></th>
      <td>&#10004;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#logosign">Logo on Additional Signage</a></th>
      <td>&#10004;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th><a href="#logoslide">Logo in Slide Template for Presenters</a></th>
      <td>&#10004;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
      <td>&#10004;</td>
    </tr>
    <tr>
      <th>Sponsorship Level Costs</th>
      <td>$2,000</td>
      <td>$1,000</td>
      <td>$500</td>
      <td>$200+</td>
      <td>$2,000</td>
      <td>$2,000</td>
      <td>$2,000</td>
      <td>$2,000</td>
    </tr>
  </tbody>
</table>
<p>
  Please read below for all sponsorship details.
</p>
<h3>Sponsorship Levels</h3>
<h4><a name="platinum"></a>PLATNUM: $2000</h4>
<p>
  As a PLATINUM sponsor you will receive your logo on the website, event session materials and a dedicated
  keynote slide. You will also be entitled to display a company booth (tables and chairs provided) and provide
  collateral that will be placed inside of the bags attendees receive at registration the day of the event. Within 2
  weeks of the conclusion of the event you will receive a list of opt-in attendees, their contact information, title
  and professional interests. Your company logo will also be on all additional signage and on the slide templates
  used by presenters during the day’s sessions. If you would like to donate a raffle item it will be given away at
  some point during the day. The item(s) must be valued at a minimum of $200 and your company will be
  recognized during the giveaway.
</p>
<h4><a name="gold"></a>GOLD:  $1000 </h4>
<p>
  As a GOLD sponsor you will receive your logo on the website, event session materials and the Gold keynote
  slide. You will also be entitled to display a company booth (tables and chairs provided) and provide collateral
  that will be placed inside of the bags attendees receive at registration the day of the event. If you would like
  to donate a raffle item it will be given away at some point during the day. The item(s) must be valued at a
  minimum of $200 and your company will be recognized during the giveaway.
</p>
<h4><a name="silver"></a>SILVER:  $500 </h4>
<p>
  As a SILVER sponsor you will receive your logo on the website and related session materials. You
  will also be able to provide collateral that will be placed inside of the bags attendees receive at
  registration the day of the event. If you would like to donate a raffle item it will be given away at
  some point during the day. The item(s) must be valued at a minimum of $200 and your company
  will be recognized during the giveaway.
</p>
<h4><a name="swag"></a>SWAG:  $200+</h4>
<p>
  As a SWAG sponsor you are able to donate a Raffle Item that will be given away at some point
  during the day. The item must be valued at a minimum of $200 and your company will be
  recognized during the giveaway.
</p>
<h4><a name="attendeeparty"></a>Attendee Party SPONSOR:  $2000 (limited to the first sponsor to commit) </h4>
<p>
  As the ATTENDEE PARTY sponsor, you will receive all of the benefits of a Platinum Sponsor.
  After the event, speakers, attendees, and YOU gather to continue the conversations and grow
  networking relationships over food and drink. The Atlanta Code Camp Committee will handle all
  logistics including time, location, invitations, and menu.
</p>
<h4><a name="speakerdinner"></a>Speaker Dinner SPONSOR:  $2000 (limited to the first sponsor to commit) </h4>
<p>
  As the SPEAKER DINNER sponsor, you will receive all of the benefits of a Platinum Sponsor. In
  addition, the SPEAKER DINNER sponsor attendees get face time with the event speakers the
  evening prior the event. This networking opportunity is the official start to the Atlanta Code Camp
  festivities. Note: The Atlanta Code Camp Committee will handle all logistics including time,
  location, invitations, and menu.
</p>

<h4><a name="attendeeshirt"></a>Attendee Shirt SPONSOR: $2000 (limited to 1 sponsor)</h4>
<p>
  As the ATTENDEE SHIRT sponsor you are responsible for providing at least 500 t-shirts for
  attendees (various sizes), the exact number to depend upon expected attendance. The Atlanta
  Code Camp logo, Atlanta Code Camp URL and your company logo should all be printed on the
  shirt based on your design. The design must be approved by the Atlanta Code Camp committee.
  The sponsor will be responsible for ordering and paying for the shirts, as well as handling the
  coordination of logistics of the shirts with the Atlanta Code Camp committee.
</p>
<h4><a name="speakershirt"></a>Speaker Shirt SPONSOR: $2000 (limited to 1 sponsor)</h4>
<p>
  As the SPEAKER SHIRT sponsor you are responsible for providing 50 Polo Shirts for the speakers
  (various sizes). The Atlanta Code Camp logo will be embedded on one side of the shirt and your
  company logo will be on the other side of the shirt. Speaker shirts must be available the week
  before the event. The sponsor will be responsible for ordering and paying for the shirts, as well
  as handling the coordination of logistics of the shirts with the Atlanta Code Camp committee.
</p>

<h3>Sponsorship Benefit Descriptions </h3>
<h4><a name="raffle"></a>Raffle Item</h4>
<p>The sponsor can give away any item(s) valued at a minimum of $200 and your company will be recognized during the giveaway. </p>
<h4><a name="logoweb"></a>Logo on Website</h4>
<p>The Atlanta Code Camp website (www.atlantacodecamp.com) will include the sponsor’s logo. Logos on the website will have a maximum width of 256 pixels.</p>
<h4><a name="logomaterials"></a>Logo on the Atlanta Code Camp Materials</h4>
<p>The printed material will include the sponsor’s logo. </p>
<h4><a name="bag"></a>Attendee Bag Collateral</h4>
<p>Each sponsor may provide their own printed materials that will be added to the attendee bag that attendees will receive as a giveaway. Bag Collateral must be received two weeks before the event (Friday, October 9th) and should be mailed directly to the following address: </p>
<address>
  <strong>Developers Association of Georgia</strong><br />
  c/o J. Dan Attis
  <br />
  615 Sailwind Drive
  <br />
  Roswell, GA 30076
</address>
<h4><a name="logokeynote"></a>Logo on Keynote Slide</h4>
<p>There will be a shared slide for GOLD sponsors and dedicated slides for each PLATINUM sponsor recognized during the keynote presentation. These slides will be presented at the beginning of the keynote. </p>
<h4><a name="booth"></a>Booth with Table </h4>
<p>The sponsor will be able to display a company booth the day of the event. We will be providing (1) table and (2) chairs for each company to use. Tables are 6’ x 30". Please be sure that your displays are no larger than the table size to accommodate the visibility of your branding as well as that of your neighbors. Table space will be distributed on a first-come, first-served basis upon receipt of completed sponsorship application and payment. </p>


<h4><a name="attendeelist"></a>Attendee List </h4>

<p>The attendees have the ability to “opt-in” to allow sponsors to contact them after the event. Only those attendees that have chosen to opt in will be provided to the sponsors that receive the attendee list. </p>
<h4><a name="logosign"></a>Logo on Additional Signage </h4>

<p>For PLATINUM sponsors your logo will appear on all signage and event material prior to and during the day of the event. </p>
<h4><a name="logoslide"></a>Logo in Slide Template for Presenters </h4>

<p>For PLATINUM sponsors your logo will appear in all of the speakers’ PowerPoint presentations.  </p>