<div class="row">
  <h3>Call for Speakers</h3>
  <p class="lead">We're accepting submissions for talks at the @this.GetEventInfo().Name from anyone that has a story to tell. Don't let your </p>
  <hr />
  @if (this.GetEventInfo().CallForSpeakersOpened > DateTime.Today)
  {
    <h4>Opening Soon!</h4>
    <p>Please visit this page again when the call for speakers opens up on @this.GetEventInfo().CallForSpeakersOpened.ToString("D").</p>
  }
  else if (this.GetEventInfo().CallForSpeakersOpened <= DateTime.Today && this.GetEventInfo().CallForSpeakersClosed > DateTime.Today)
  {
    <p>SOON!</p>
  }
  else
  {
    <h4>Call for Speakers is Now Closed!</h4>
    <p>Thanks for your interest in speaking at the @this.GetEventInfo().Name. The Call For Speakers is now closed. If you submitted a talk, you should hear from us very shortly. To see the sessions that were selected, please visit the Sessions Page.</p>
  }
</div>