@{
  ViewData["Title"] = "Schedule";
}
<div class="row">
  <div class="col-sm-12 features section-description wow fadeIn">
    <h2>Schedule</h2>
    <div class="divider-1 wow fadeInUp"><span></span></div>
    <p class="lead">Coming soon!</p>
  </div>
</div>
