@model IEnumerable<TalkViewModel>
@{
  ViewData["Title"] = "Sessions";
}
<div class="row">
  <div class="col-sm-12 features section-description wow fadeIn">
    <h2>Sessions</h2>
    <div class="divider-1 wow fadeInUp"><span></span></div>
  </div>
</div>
<div class="row">
  @if (Model == null || Model.Count() == 0)
  {
    var info = this.GetEventInfo();
    @if (info.CallForSpeakersOpened <= DateTime.Today && info.CallForSpeakersClosed >= DateTime.Today)
    {
      <p class="lead">Once the sessions are finalized, they will appear here!</p>
    }
    else if (!string.IsNullOrWhiteSpace(info.SessionizeEmbedId))
    {
      <script type="text/javascript" src="https://sessionize.com/api/v2/@(info.SessionizeEmbedId)/view/Sessions"></script>
    }
    else
    {
      <p class="lead">Once the sessions are finalized, they will appear here!</p>
    }
  }
  else
  {
    foreach (var talk in Model)
    {
      <partial name="_Session" model="Tuple.Create(talk, false)" />
    }
  }
</div>
