@model SpeakerViewModel
@{
  ViewData["Title"] = $"{Model.Name}";
}
<div class="row">
  <div class="col-md-12 speaker wow fadeInLeft">
    <img src="@Model.ImageUrl" alt="@Model.Name" class="img-responsive img-circle pull-right" />
    <h1>@Model.Name</h1>
    <div class="divider-1 wow fadeInleft"></div>
    <p class="wow fadeInUp">@Model.Bio</p>
  </div>
</div>
<div class="row">
  <h3>Sessions</h3>
  @foreach (var talk in Model.Talks)
  {
    @await Html.PartialAsync("_Session", Tuple.Create(talk, true))
  }
</div>
