@using Microsoft.AspNetCore.Identity
@using CoreCodeCamp.Models
@using CoreCodeCamp.Data

@inject SignInManager<CodeCampUser> SignInManager
@inject UserManager<CodeCampUser> UserManager
@inject ICodeCampRepository Repository

@if (SignInManager.IsSignedIn(User))
{
  <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item">
      <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-moniker="" title="Manage">Your Acct</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" asp-route-moniker="">Logoff</a>
    </li>
  </ul>
}
else
{
  <ul class="navbar-nav  my-2 my-lg-0">
    <li class="nav-item">
      <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" asp-route-moniker="">Join</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" asp-route-moniker="">Log in</a>
    </li>
  </ul>
}
