@themeColor: #ce0000;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

p {
  text-align: left;
}

p.lead {
  text-align: center;
}


.navbar {
  background-color: fadeout(desaturate(lighten(@themeColor, 60%), 100%), 10%);
  border-bottom: 1px solid #ccc;

  .navbar-nav {
    .active > a {
      font-weight: 500;
      background: rgba(200, 200, 200, 0.2) none repeat scroll 0 0;
    }
  }

  .navbar-toggle .icon-bar {
    background: @themeColor;
  }
}

.text-sm {
  font-size: small;
  line-height: normal;
}

#imagePicker {
  margin-top: 29px;
}

a {
  color: @themeColor;

  &:hover, &:focus {
    color: #222;
    text-decoration: underline;
  }
}

.navbar-brand {
  background-image: url(../img/logo.png);
  width: 325px;
}

.left-align {
  text-align: left;
}

.features-box .features-box-icon {
  color: @themeColor;
}

.sponsor-benefit-table {
  td {
    text-align: center;
  }
}

.sponsor-box {
  height: 160px;
  margin-bottom: 5px;

  img {
    border: 1px solid #eee;
    margin: 0 auto;
    max-height: 100px;
  }

  .sponsor-box-logo {
    min-height: 115px;
  }

  .sponsor-box-level {
    margin-top: 5px;
    background: #eee;
    text-align: center;
    font-weight: bold;
  }
}

.footer-contact-info, .footer-about {
  a:hover, a:focus {
    border: none;
  }
}

footer {
  a:hover, a:focus {
    color: @themeColor;
  }
}

.footer-contact-info a, .footer-about a, .footer-social a {
  color: lighten(@themeColor, 25%);
}

.invalidHeadshot {
  border-color: #ce0000;
}
