body {
  padding-top: 35px;
  padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
p {
  text-align: left;
}
p.lead {
  text-align: center;
}
.form-control.ng-invalid,
.form-control.ng-invalid:focus {
  border-color: #ce0000;
}
.overflow-hidden {
  overflow: hidden;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ccc;
  min-height: 35px;
}
.navbar .navbar-nav .active > a {
  font-weight: 500;
  background: rgba(200, 200, 200, 0.2) none repeat scroll 0 0;
}
.navbar .navbar-toggle .icon-bar {
  background: #ce0000;
}
.text-sm {
  font-size: small;
  line-height: normal;
}
.sort-header {
  background-color: #ddd;
}
.click-cursor {
  cursor: pointer;
}
.icon-enabled {
  color: #ce0000;
}
.text-bold {
  font-weight: 800;
}
#imagePicker {
  margin-top: 29px;
}
a {
  color: #ce0000;
}
a:hover,
a:focus {
  color: #222;
  text-decoration: underline;
}
.navbar-brand {
  background-image: url(../img/logo.png);
  width: 325px;
  height: 35px;
}
.left-align {
  text-align: left;
}
.speaker-name {
  font-size: 14px;
  line-height: normal;
  min-height: 40px;
  padding-top: 5px;
}
.features-box .features-box-icon {
  color: #ce0000;
}
.sponsor-benefit-table td {
  text-align: center;
}
.sponsor-box {
  height: 160px;
  margin-bottom: 5px;
}
.sponsor-box img {
  border: 1px solid #eee;
  margin: 0 auto;
  max-height: 100px;
}
.sponsor-box .sponsor-box-logo {
  min-height: 115px;
}
.sponsor-box .sponsor-box-level {
  margin-top: 5px;
  background: #eee;
  text-align: center;
  font-weight: bold;
}
.footer-contact-info a:hover,
.footer-about a:hover,
.footer-contact-info a:focus,
.footer-about a:focus {
  border: none;
}
footer a:hover,
footer a:focus {
  color: #ce0000;
}
.footer-contact-info a,
.footer-about a,
.footer-social a {
  color: #ff4f4f;
}
.alert {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.alert-dismissible .close {
  padding-top: 4px;
}
.invalidHeadshot {
  border-color: #ce0000;
}
.ul.navbar-nav {
  font-size: 14px;
}
.navbar-nav > li > a {
  line-height: 14px;
  padding: 10px;
}
.navbar-toggle {
  margin-bottom: 0;
  margin-right: 5px;
  margin-top: 3px;
  padding: 0 10px;
}
.speaker-image {
  max-height: 200px;
  border-radius: 255px;
  box-shadow: 3px -3px 15px 0px rgba(133, 133, 133, 0.7);
}
.speaker {
  line-height: normal;
  margin-top: 25px;
}
.delete-star {
  cursor: pointer;
}
.voteStar {
  cursor: pointer;
}
.voteStar.voted {
  color: gold;
}
.navbar-nav.auth-nav > li > a {
  font-size: 12px;
}