@{
  ViewData["Title"] = "Administration";
}
<div class="row">
  <h2>@ViewData["Title"]</h2>
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><a href="#">Users</a></li>
      <li><a href="#">Sponsors</a></li>
      <li><a href="#">Talks</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Tracks</a></li>
    </ul>
  </div>
</div>