@model IEnumerable<EventInfo>
@{
  ViewData["Title"] = "Administration";
}
@section Scripts {
  <script src="/js/app/admin.js"></script>
}
<h2>Admin Page</h2>
<div id="admin-view">
  <h3><i class="fa fa-gear fa-spin"></i> Loading...</h3>
</div>