@model IEnumerable<EventInfo>
@{
  ViewData["Title"] = "Administration";
}
@section Scripts {
  <environment names="Development">
    <script src="/js/app/admin.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="~/js/app/js/chunk-vendors.js" asp-append-version="true"></script>
    <script src="/js/app/js/admin.js" asp-append-version="true"></script>
  </environment>
}
@section Head {
  <environment names="Staging,Production">
    <link href="~/js/app/css/chunk-vendors.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/app/css/admin.css" rel="stylesheet" asp-append-version="true" />
  </environment>
}
<h2>Admin Page</h2>
<div id="admin-view">
  <h3><i class="fa fa-gear fa-spin"></i> Loading...</h3>
</div>
