@model IEnumerable<EventInfo>
@{
  ViewData["Title"] = "Administration";
}
@section Scripts {
  @Html.Partial("_VueScripts", "adminEvents")
}
<div class="row text-left">
  <div class="col-lg-4 col-lg-offset-4">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-12">
      <div><a asp-area="Admin" asp-controller="Root" asp-action="Users">Users</a></div>
      <div id="events-view">
        <div>
          <label>Camps:</label>
        </div>
        <div>
          <select @@change="onEventChanged($event.target.value)">
            <option v-for="camp in events" v-bind:value="camp.moniker">
              {{ camp.name }}
            </option>
          </select>
        </div>        
        <div v-if="currentEvent">
          <ul>
            <li><a :href="'/' + currentEvent.moniker + '/admin/eventinfo'">{{ currentEvent.moniker }} Event Information</a></li>
            <li><a :href="'/' + currentEvent.moniker + '/admin/schedule'">{{ currentEvent.moniker }} Schedule</a></li>
            <li><a :href="'/' + currentEvent.moniker + '/admin/sponsors'">{{ currentEvent.moniker }} Sponsors</a></li>
            <li><a :href="'/' + currentEvent.moniker + '/admin/speakerlist'">Download Speaker List for {{ currentEvent.moniker }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
