@{
  ViewData["Title"] = "Administration";
}
<div class="row">
  <h2>@ViewData["Title"]</h2>
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><a asp-area="Admin" asp-controller="Root" asp-action="Users">Users</a></li>
      <li><a asp-area="Admin" asp-controller="Root" asp-action="Sponsors">Sponsors</a></li>
      <li><a asp-area="Admin" asp-controller="Root" asp-action="Talks">Talks</a></li>
    </ul>
  </div>
</div>