@{
  ViewData["Title"] = "Call for Speakers";
  ViewData["TopSectionClass"] = "testimonials-container";
  ViewData["SupressBody"] = true;
}
@section topSection
{
  <div class="col-sm-6 col-sm-offset-3 text">
    <h2 class="wow fadeInLeft">Call for Speakers</h2>
    <hr class="wow fadeInLeft" />
    <div class="description wow fadeInLeft">
      <p class="lead">
        We're accepting submissions for talks at
        the <strong>@this.GetEventInfo().Name</strong> from anyone that has a story to
        tell. Whether you're a seasoned speaker, or wanting to get your first taste,
        this is your chance to talk about whatever you're passionate about. 
      </p>
      @if (this.GetEventInfo().CallForSpeakersOpened > DateTime.Today)
      {
        <h4>Opening Soon!</h4>
        <p>Please visit this page again when the call for speakers opens up on <strong>@this.GetEventInfo().CallForSpeakersOpened.ToString("D")</strong>.</p>
      }
      else if (this.GetEventInfo().CallForSpeakersOpened <= DateTime.Today && this.GetEventInfo().CallForSpeakersClosed > DateTime.Today)
      {
        <a asp-action="Manage" class="btn btn-lg btn-success">Apply to Speak</a>
      }
      else
      {
        <h4>Call for Speakers is Now Closed!</h4>
        <p>Thanks for your interest in speaking at the @this.GetEventInfo().Name. The Call For Speakers is now closed. If you submitted a talk, you should hear from us very shortly. To see the sessions that were selected, please visit the Sessions Page.</p>
      }
    </div>
  </div>
}