@model SpeakerViewModel
@{
  ViewData["Title"] = "Speaker Info";
}
@section Scripts {
  <script src="/js/app/callforspeakers.js"></script>
}

<div id="call-for-speaker-view">
  <div class="row">
    <h2>Call for Speakers</h2>
    <div><router-view></router-view></div>
  </div>

</div>

